{% extends 'main/base.html' %}
{% block content %}
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-12">
                <section class="about section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">
                            Написать мне!
                        </h2>
                        <div class="content">
                            <form method="post">
                                {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="p-3 mb-2 bg-danger text-white">
                                        {{ field.errors }}
                                        </div>
                                    {% endif %}
                                  </div>
                            {% endfor %}

                              <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->
            </div><!--//primary-->
        </div><!--//row-->
    </div><!--//masonry-->
{% endblock %}
